---
import "highlight.js/styles/atom-one-dark.css";
import { code2 } from "./react-code";
---

<div class="w-full fixed top-[-50px] h-screen">
  <pre
    class="">
  <code class="   text-wrap h-[100vh+60px] blur-[px] break-all">
    {code2.repeat(3)}
  </code>
</pre>
</div>

<style>
  .hljs {
    display: block;
    margin: 0;
    padding: 0;
  }
</style>

<script>
  import hljs from "highlight.js";
  import javascript from "highlight.js/lib/languages/javascript";
  hljs.registerLanguage("javascript", javascript);
  hljs.highlightAll();
</script>
