---
import "highlight.js/styles/atom-one-dark.css";
import { code2 } from "./react-code";
const { pixelBlur = "0" } = Astro.props;
---

<div class="w-full fixed top-[-50px] h-screen -z-50">
  <pre
    class="">
  <code class=`text-wrap h-[100vh+60px]  break-all code transition duration-500`>
    {code2.repeat(3)}
  </code>
</pre>
</div>

<style>
  .hljs {
    display: block;
    margin: 0;
    padding: 0;
  }
</style>

<script>
  import hljs from "highlight.js";
  import javascript from "highlight.js/lib/languages/javascript";
  hljs.registerLanguage("javascript", javascript);
  hljs.highlightAll();
</script>
