---
import { darkenColor } from "@/utils/colorBrightness";
const colorObject = {
  "letter-a": "#c678dd",
  "letter-n": "#61aeee",
  "letter-d": "#98c379",
};
const darkenedColorObject = {
  "letter-a": "#9e19c5",
  "letter-n": "#fd8a1e",
  "letter-d": "#4f991b",
};
---

<style>
  .test {
    color: #000000;
    color: #3f3e3e;
    color: #636262;
    color: #8a8787;
    color: #a4a4a4;
    color: #c7c5c5;
    color: #dedcdc;
  }
</style>
<!-- #f92672 -->
<div class="wrapper -mt-[200px] z-[21321312]">
  <div
    class=`divider bg-gradient-to-r from-slate-400 to-slate-600 h-[calc(var(--angle-divider)+var(--h-divider))] -mt-[var(--angle-divider)]`
  >
  </div>
</div>
<div class="wrapper">
  <div
    class=`divider bg-gradient-to-r from-slate-500 to-slate-800 h-[calc(var(--angle-divider)+var(--h-divider))] -mt-[var(--angle-divider)]`
  >
  </div>
</div>
<div class="wrapper">
  <div
    class="divider bg-gradient-to-r from-transparent via-slate-300 h-[calc(var(--angle-divider)+2px)] -mt-[var(--angle-divider)]"
  >
  </div>
</div>
<style>
  .divider {
    clip-path: polygon(
      0 0,

      50% var(--angle-divider),
      100% 0,

      100% calc(100% - var(--angle-divider)),
      50% 100%,

      0 calc(100% - var(--angle-divider))
    );
  }
  .wrapper {
    filter: drop-shadow(0px -5px 5px rgba(0, 0, 0, 0.7));
  }
</style>
<script>
  // import colorObj from "@/utils/colors";
</script>
