---

---

<div class="h-screen">
  <div id="left-side" class="side">
    <h2 class="title">
      Andres Lossada
      <span class="fancy">Web Developer</span>
    </h2>
  </div>
  <div id="right-side" class="side">
    <h2 class="title">
      Andres Lossada

      <span class="fancy">UI/UX Developer</span>
    </h2>
  </div>
</div>

<style>
  :root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);

    --c1: rgb(3, 7, 18);
    --c2: rgb(67, 100, 15);

    --left-color: var(--c1);
    --right-color: var(--c2);
  }

  body {
    /* background-color: var(--dark); */
    margin: 0px;
  }

  .side {
    display: grid;
    height: 100%;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
  }

  .side .title {
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    font-weight: 800;
    margin: 0px 10vw;
    width: 80vw;
  }

  .side .fancy {
    font-family: "Permanent Marker", cursive;
    font-size: 1.8em;
    line-height: 0.6em;
  }

  #left-side {
    background-color: var(--left-color);
    width: 60%;
    z-index: 2;
  }

  #left-side .title {
    color: white;
  }

  #left-side .fancy {
    color: var(--right-color);
  }

  #right-side {
    background-color: var(--right-color);
  }

  #right-side .title {
    color: var(--dark);
  }

  #right-side .fancy {
    color: white;
  }
</style>

<script>
  const left = document.getElementById("left-side");

  const handleMove = (e) => {
    left.style.width = `${(e.clientX / window.innerWidth) * 100}%`;
  };
  document.onmousemove = (e) => {
    setTimeout(() => handleMove(e), 150);
    // handleMove(e);
  };
  document.ontouchmove = (e) => handleMove(e.touches[0]);
</script>
