---
import Title from "./Title.astro";
import Socials from "./Socials.astro";
import Divider from "./Divider.astro";
---

<header
  class="relative h-[calc(100dvh+var(--angle-divider))] bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.25),rgba(255,255,255,0))] bg-[--bg-color-0] top grid place-content-center gap-7 overflow-x-hidden z-20"
>
  <div
    class="absolute -z-10 inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:44px_44px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
  >
  </div>
  <div class="container">
    <div class="row">
      <div class="cell size-10"></div>
      <div class="cell size-5"></div>
      <div class="cell size-7"></div>
      <div class="cell size-7"></div>
      <div class="cell size-6 letter-d"></div>
      <div class="cell size-6"></div>
      <div class="cell size-12"></div>
      <div class="cell size-10"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <div class="cell size-6"></div>
      <div class="cell size-7"></div>
      <div class="cell size-12"></div>
      <div class="cell size-5"></div>
      <div class="cell size-10"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-3 letter-d"></div>
      <div class="cell size-9"></div>
      <div class="cell size-9"></div>
      <div class="cell size-12"></div>
      <div class="cell size-9"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 3 -->
      <div class="cell size-12"></div>
      <div class="cell size-6"></div>
      <div class="cell size-8"></div>
      <div class="cell size-12"></div>
      <div class="cell size-7"></div>
      <div class="cell size-1 letter-d"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-8"></div>
      <div class="cell size-12"></div>
      <div class="cell size-7"></div>
      <div class="cell size-9"></div>
      <div class="cell size-6"></div>
      <div class="cell size-4"></div>
      <div class="cell size-3"></div>
    </div>
    <div class="row">
      <!-- row 4 -->
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-4 letter-a"></div>
      <div class="cell size-1"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-2"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-d"></div>
      <div class="cell size-5 letter-r"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-4"></div>
      <div class="cell size-8 letter-e"></div>
      <div class="cell size-4"></div>
      <div class="cell size-4"></div>
      <div class="cell size-9 letter-s"></div>
      <div class="cell size-4"></div>
    </div>
    <div class="row">
      <!-- row 5 -->
      <div class="cell size-5"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-8 letter-a"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-9 letter-n"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-10 letter-d"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-7 letter-r"></div>
      <div class="cell size-5 letter-r"></div>
      <div class="cell size-1 letter-r"></div>
      <div class="cell size-1"></div>
      <div class="cell size-7 letter-e"></div>
      <div class="cell size-5 letter-e"></div>
      <div class="cell size-4"></div>
      <div class="cell size-9 letter-s"></div>
      <div class="cell size-4 letter-s"></div>
      <div class="cell size-4"></div>
    </div>
    <div class="row">
      <!-- row 6 -->
      <div class="cell size-7"></div>
      <div class="cell size-4 letter-a"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-4 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-7 letter-d"></div>
      <div class="cell size-9 letter-d"></div>
      <div class="cell size-4 letter-r"></div>
      <div class="cell size-3 letter-r"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-3 letter-e"></div>
      <div class="cell size-2"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2 letter-s"></div>
      <div class="cell size-2 letter-s"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 7 -->
      <div class="cell size-4"></div>
      <div class="cell size-5"></div>
      <div class="cell size-4"></div>
      <div class="cell size-1 letter-a"></div>
      <div class="cell size-3 letter-a"></div>
      <div class="cell size-6 letter-n"></div>
      <div class="cell size-3"></div>
      <div class="cell size-6 letter-n"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-5"></div>
      <div class="cell size-1 letter-d"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-5"></div>
      <div class="cell size-2"></div>
      <div class="cell size-5 letter-e"></div>
      <div class="cell size-5"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-5 letter-s"></div>
      <div class="cell size-2 letter-s"></div>
      <div class="cell size-4"></div>
      <div class="cell size-6"></div>
      <div class="cell size-2"></div>
    </div>
    <div class="row">
      <!-- row 8 -->
      <div class="cell size-11"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-6 letter-a"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-3"></div>
      <div class="cell size-1"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-7"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-3 letter-r"></div>
      <div class="cell size-2 letter-r"></div>
      <div class="cell size-7"></div>
      <div class="cell size-19 letter-e"></div>
      <div class="cell size-1"></div>
      <div class="cell size-14 letter-s"></div>
      <div class="cell size-2"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 9 -->
      <div class="cell size-10"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-5"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-5"></div>
      <div class="cell size-3 letter-d"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-4"></div>
      <div class="cell size-2"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-5"></div>
      <div class="cell size-2"></div>
      <div class="cell size-1"></div>
      <div class="cell size-1"></div>
      <div class="cell size-9"></div>
      <div class="cell size-7 letter-s"></div>
      <div class="cell size-9"></div>
    </div>
    <div class="row">
      <!-- TODO: arreglar N -->
      <!-- row 10 -->
      <div class="cell size-8"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-4"></div>
      <div class="cell size-2 letter-a"></div>
      <div class="cell size-2 letter-a"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell siz e-2 letter-n"></div>
      <div class="cell size-3 letter-d"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-9 letter-d"></div>
      <div class="cell size-1 letter-r"></div>
      <div class="cell size-4 letter-r"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2"></div>
      <div class="cell size-1"></div>
      <div class="cell size-3 letter-e"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-3"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-4"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-8"></div>
    </div>
    <div class="row">
      <!-- row 11 -->
      <div class="cell size-7"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-3 letter-a"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-2"></div>
      <div class="cell size-2"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-7 letter-d"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-3 letter-r"></div>
      <div class="cell size-2 letter-r"></div>
      <div class="cell size-9"></div>
      <div class="cell size-8 letter-e"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-2"></div>
      <div class="cell size-3 letter-s"></div>
      <div class="cell size-3 letter-s"></div>
      <div class="cell size-7 letter-s"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 12-->
      <div class="cell size-10"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-5"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-1"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-12"></div>
      <div class="cell size-4 letter-e"></div>
      <div class="cell size-5 letter-e"></div>
      <div class="cell size-5"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-3 letter-s"></div>
      <div class="cell size-10"></div>
    </div>
    <div class="row">
      <!-- row 13 -->

      <div class="cell size-5"></div>
      <div class="cell size-7"></div>
      <div class="cell size-2"></div>
      <div class="cell size-10"></div>
      <div class="cell size-4"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5"></div>
      <div class="cell size-12"></div>
      <div class="cell size-5"></div>
      <div class="cell size-4"></div>
      <div class="cell size-10"></div>
      <div class="cell size-8"></div>
      <div class="cell size-6"></div>
      <div class="cell size-2"></div>
      <div class="cell size-8"></div>
      <div class="cell size-8"></div>
    </div>
  </div>
  <Title text="Web developer" />
  <Socials />
</header>
<Divider />
<!-- TODO: add offset px -->
<style>
  header {
    --unit: 10px;
    --container-width: 100vw;
    --initial-time: 1s;
    --slide-in-time: 3s;
  }
  .container {
    gap: var(--unit);
    /* min-width: 100%; */
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }

  .row {
    height: var(--unit);
    gap: var(--unit);
    translate: var(--offset);
    display: flex;
    justify-content: center;

    /* animation: animation-name time time type */
    /* animation: load-row var(--initial-time) calc(var(--delay) * 100ms + 500ms) */
    /* forwards; */
  }

  .scramble {
    animation: unload-row 500ms calc(var(--delay) * 25ms) both;
  }

  .order {
    animation: load-row 0.5s calc(var(--delay) * 50ms) forwards;
  }
  .first-order {
    /* animation: animation-name animation-time animation-delay animation-fill-mode */
    animation: load-row var(--initial-time) calc(var(--delay) * 100ms + 500ms)
      forwards;
  }

  @keyframes load-row {
    100% {
      translate: 0%;
    }
  }
  @keyframes unload-row {
    0% {
      translate: 0%;
    }

    100% {
      translate: var(--offset);
    }
  }
  .cell {
    height: 100%;
    width: calc(var(--size, 2) * var(--unit));
    background-color: var(--dark);
    border-radius: 444px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
  }

  .cell.size-1 {
    --size: 1;
  }
  .cell.size-2 {
    --size: 2;
  }
  .cell.size-3 {
    --size: 3;
  }
  .cell.size-4 {
    --size: 4;
  }
  .cell.size-5 {
    --size: 5;
  }
  .cell.size-6 {
    --size: 6;
  }
  .cell.size-7 {
    --size: 7;
  }
  .cell.size-8 {
    --size: 8;
  }
  .cell.size-9 {
    --size: 9;
  }
  .cell.size-10 {
    --size: 10;
  }
  .cell.size-11 {
    --size: 11;
  }
  .cell.size-12 {
    --size: 12;
  }
  .cell.size-13 {
    --size: 13;
  }
  .cell.size-12 {
    --size: 12;
  }
  .cell.size-13 {
    --size: 13;
  }
  .cell.size-14 {
    --size: 14;
  }
  .cell.size-15 {
    --size: 15;
  }
  .cell.size-16 {
    --size: 16;
  }
  .cell.size-17 {
    --size: 17;
  }
  .cell.size-18 {
    --size: 18;
  }
  .cell.size-19 {
    --size: 19;
  }
  .cell.size-20 {
    --size: 20;
  }

  .cell.letter-a {
    background-color: var(--color-1);
  }
  .cell.letter-n {
    background-color: var(--color-2);
  }
  .cell.letter-d {
    background-color: var(--color-3);
  }
  .cell.letter-r {
    background-color: var(--color-4);
  }
  .cell.letter-e {
    background-color: var(--color-1);
  }
  .cell.letter-s {
    background-color: var(--color-2);
  }

  .row:nth-child(1) {
    --delay: 1;
    --offset: 14%;
  }
  .row:nth-child(2) {
    --delay: 2;
    --offset: -10%;
  }
  .row:nth-child(3) {
    --delay: 3;
    --offset: 14%;
  }
  .row:nth-child(4) {
    --delay: 4;
    --offset: -11%;
  }
  .row:nth-child(5) {
    --delay: 5;
    --offset: 12%;
  }
  .row:nth-child(6) {
    --delay: 6;
    --offset: -5%;
  }
  .row:nth-child(7) {
    --delay: 7;
    --offset: 8%;
  }
  .row:nth-child(8) {
    --delay: 8;
    --offset: -14%;
  }
  .row:nth-child(9) {
    --delay: 9;
    --offset: 18%;
  }
  .row:nth-child(10) {
    --delay: 10;
    --offset: -10%;
  }
  .row:nth-child(11) {
    --delay: 11;
    --offset: 11%;
  }
  .row:nth-child(12) {
    --delay: 12;
    --offset: -4%;
  }
  .row:nth-child(13) {
    --delay: 13;
    --offset: 15%;
  }

  @media (width < 1650px) {
    header {
      --unit: 8px;
    }
  }

  @media (width < 1080px) {
    header {
      --unit: 6px;
    }
  }
  @media (width < 780px) {
    header {
      --unit: 5px;
    }
  }
  @media (width < 570px) {
    header {
      --unit: 3px;
    }

    .row {
      height: 5px;
    }
  }
</style>
<script>
  const container = document.querySelector(".container");
  const rows = document.querySelectorAll(".row");
  const lastRow = rows[rows.length - 4];
  let isAnimating = true;
  rows.forEach((row) => {
    row.classList.add("first-order");
  });
  container.addEventListener("click", () => {
    if (!isAnimating) {
      rows.forEach((row) => {
        if (!row.classList.contains("scramble")) {
          row.classList.remove("first-order", "order");
          row.classList.add("scramble");
        } else {
          row.classList.remove("first-order", "scramble");
          row.classList.add("order");
        }
      });
    }
    isAnimating = true;
  });

  lastRow.addEventListener("animationend", () => {
    isAnimating = false;
  });
</script>
