---
import { atom } from "nanostores";
import ThemeIcon from "./icons/ThemeIcon.astro";
import { ThemeMenu } from "./Theme.jsx";
---

<header
  class="relative h-[calc(100vh+77px)] w-full bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.25),rgba(255,255,255,0))] bg-[--bg-color] top   drop-shadow-lg  "
>
  <!-- <ThemeIcon class="absolute h-6 bottom-16 left-5 text-white z-50"/> -->
  <!-- <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div> -->
  <div
    class="absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:44px_44px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)] "
  >
  </div>
  <div
    style="overflow:hidden;margin-left:auto;margin-right:auto;border-radius:10px;width:100%;max-width:440.98px"
    class="snippify "
  >
    <div style="width:100%;padding-bottom:92.35339471177831%" class=""></div><iframe
      width="440.98"
      height="407.26"
      title=""
      src="https://snappify.com/embed/2484fe3a-4c59-444b-8634-a4080bf9f798/2ac55afd-43fc-47f9-9a4d-d8c90395fcad?responsive=1&b=1"
      allow="clipboard-write"
      allowfullscreen=""
      loading="lazy"
      style="background:#ffffff00;position:absolute;left:0;top:0;width:100%"
      frameborder="0"></iframe>
  </div>
  <div class="container ">
    <div class="row">
      <div class="cell size-10"></div>
      <div class="cell size-5"></div>
      <div class="cell size-7"></div>
      <div class="cell size-7"></div>
      <div class="cell size-6 letter-d"></div>
      <div class="cell size-6"></div>
      <div class="cell size-12"></div>
      <div class="cell size-10"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <div class="cell size-6"></div>
      <div class="cell size-7"></div>
      <div class="cell size-12"></div>
      <div class="cell size-5"></div>
      <div class="cell size-10"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-3 letter-d"></div>
      <div class="cell size-9"></div>
      <div class="cell size-9"></div>
      <div class="cell size-12"></div>
      <div class="cell size-9"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 3 -->
      <div class="cell size-12"></div>
      <div class="cell size-6"></div>
      <div class="cell size-8"></div>
      <div class="cell size-12"></div>
      <div class="cell size-7"></div>
      <div class="cell size-1 letter-d"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-8"></div>
      <div class="cell size-12"></div>
      <div class="cell size-7"></div>
      <div class="cell size-9"></div>
      <div class="cell size-6"></div>
      <div class="cell size-4"></div>
      <div class="cell size-3"></div>
    </div>
    <div class="row">
      <!-- row 4 -->
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-4 letter-a"></div>
      <div class="cell size-1"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-2"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-d"></div>
      <div class="cell size-5 letter-r"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-4"></div>
      <div class="cell size-8 letter-e"></div>
      <div class="cell size-4"></div>
      <div class="cell size-4"></div>
      <div class="cell size-9 letter-s"></div>
      <div class="cell size-4"></div>
    </div>
    <div class="row">
      <!-- row 5 -->
      <div class="cell size-5"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-8 letter-a"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-9 letter-n"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-10 letter-d"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-7 letter-r"></div>
      <div class="cell size-5 letter-r"></div>
      <div class="cell size-1 letter-r"></div>
      <div class="cell size-1"></div>
      <div class="cell size-7 letter-e"></div>
      <div class="cell size-5 letter-e"></div>
      <div class="cell size-4"></div>
      <div class="cell size-9 letter-s"></div>
      <div class="cell size-4 letter-s"></div>
      <div class="cell size-4"></div>
    </div>
    <div class="row">
      <!-- row 6 -->
      <div class="cell size-7"></div>
      <div class="cell size-4 letter-a"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-4 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-7 letter-d"></div>
      <div class="cell size-9 letter-d"></div>
      <div class="cell size-4 letter-r"></div>
      <div class="cell size-3 letter-r"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-3 letter-e"></div>
      <div class="cell size-2"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2 letter-s"></div>
      <div class="cell size-2 letter-s"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 7 -->
      <div class="cell size-4"></div>
      <div class="cell size-5"></div>
      <div class="cell size-4"></div>
      <div class="cell size-1 letter-a"></div>
      <div class="cell size-3 letter-a"></div>
      <div class="cell size-6 letter-n"></div>
      <div class="cell size-3"></div>
      <div class="cell size-6 letter-n"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-5"></div>
      <div class="cell size-1 letter-d"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-5"></div>
      <div class="cell size-2"></div>
      <div class="cell size-5 letter-e"></div>
      <div class="cell size-5"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-5 letter-s"></div>
      <div class="cell size-2 letter-s"></div>
      <div class="cell size-4"></div>
      <div class="cell size-6"></div>
      <div class="cell size-2"></div>
    </div>
    <div class="row">
      <!-- row 8 -->
      <div class="cell size-11"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-6 letter-a"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-3"></div>
      <div class="cell size-1"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-7"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-3 letter-r"></div>
      <div class="cell size-2 letter-r"></div>
      <div class="cell size-7"></div>
      <div class="cell size-19 letter-e"></div>
      <div class="cell size-1"></div>
      <div class="cell size-14 letter-s"></div>
      <div class="cell size-2"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 9 -->
      <div class="cell size-10"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell size-5"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-5"></div>
      <div class="cell size-3 letter-d"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-4"></div>
      <div class="cell size-2"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-5"></div>
      <div class="cell size-2"></div>
      <div class="cell size-1"></div>
      <div class="cell size-1"></div>
      <div class="cell size-9"></div>
      <div class="cell size-7 letter-s"></div>
      <div class="cell size-9"></div>
    </div>
    <div class="row">
      <!-- TODO: arreglar N -->
      <!-- row 10 -->
      <div class="cell size-8"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-4"></div>
      <div class="cell size-2 letter-a"></div>
      <div class="cell size-2 letter-a"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2 letter-n"></div>
      <div class="cell siz e-2 letter-n"></div>
      <div class="cell size-3 letter-d"></div>
      <div class="cell size-4 letter-d"></div>
      <div class="cell size-9 letter-d"></div>
      <div class="cell size-1 letter-r"></div>
      <div class="cell size-4 letter-r"></div>
      <div class="cell size-3"></div>
      <div class="cell size-2"></div>
      <div class="cell size-1"></div>
      <div class="cell size-3 letter-e"></div>
      <div class="cell size-2 letter-e"></div>
      <div class="cell size-3"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-4"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-8"></div>
    </div>
    <div class="row">
      <!-- row 11 -->
      <div class="cell size-7"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-3 letter-a"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-2"></div>
      <div class="cell size-2"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-1"></div>
      <div class="cell size-7 letter-d"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-2 letter-d"></div>
      <div class="cell size-3 letter-r"></div>
      <div class="cell size-2 letter-r"></div>
      <div class="cell size-9"></div>
      <div class="cell size-8 letter-e"></div>
      <div class="cell size-6 letter-e"></div>
      <div class="cell size-2"></div>
      <div class="cell size-3 letter-s"></div>
      <div class="cell size-3 letter-s"></div>
      <div class="cell size-7 letter-s"></div>
      <div class="cell size-7"></div>
    </div>
    <div class="row">
      <!-- row 12-->
      <div class="cell size-10"></div>
      <div class="cell size-7 letter-a"></div>
      <div class="cell size-5 letter-a"></div>
      <div class="cell size-3 letter-n"></div>
      <div class="cell size-1 letter-n"></div>
      <div class="cell size-5"></div>
      <div class="cell size-5 letter-n"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-1"></div>
      <div class="cell size-5 letter-d"></div>
      <div class="cell size-6 letter-r"></div>
      <div class="cell size-12"></div>
      <div class="cell size-4 letter-e"></div>
      <div class="cell size-5 letter-e"></div>
      <div class="cell size-5"></div>
      <div class="cell size-1"></div>
      <div class="cell size-6 letter-s"></div>
      <div class="cell size-3 letter-s"></div>
      <div class="cell size-10"></div>
    </div>
    <div class="row">
      <!-- row 13 -->

      <div class="cell size-5"></div>
      <div class="cell size-7"></div>
      <div class="cell size-2"></div>
      <div class="cell size-10"></div>
      <div class="cell size-4"></div>
      <div class="cell size-4"></div>
      <div class="cell size-5"></div>
      <div class="cell size-12"></div>
      <div class="cell size-5"></div>
      <div class="cell size-4"></div>
      <div class="cell size-10"></div>
      <div class="cell size-8"></div>
      <div class="cell size-6"></div>
      <div class="cell size-2"></div>
      <div class="cell size-8"></div>
      <div class="cell size-8"></div>
    </div>
  </div>
</header>
<!-- TODO: add offset px -->
<style>
  /* TODO: pick vscode theme */
  .snippify {
    position: absolute;
    z-index: 99999999;
    top: 30px;
    left: 20%;
  }
  header {
    display: flex;
    place-items: center;
    padding-bottom: 40px;
    --unit: 10px;
    --container-width: 100dvw;
    --initial-time: 1s;
    --slide-out-time: 1.5s;
    --slide-in-time: 3s;
  }
  .container {
    /* cursor: pointer; */
    min-width: 100%;
    display: flex;

    flex-direction: column;
    gap: var(--unit);
    /* overflow: hidden; */
  }

  .row {
    height: var(--unit);
    display: flex;
    justify-content: center;
    gap: var(--unit);
    translate: var(--offset);
  }

  :not(.duplicate) > .row {
    animation: load-row var(--initial-time) calc(var(--delay) * 100ms + 500ms)
      forwards;
  }

  .container.no-load:not(.slide) .row {
    animation: none;
    translate: 0;
  }
  .cell {
    height: 100%;
    width: calc(var(--size, 2) * var(--unit));
    background-color: var(--dark);
    border-radius: 444px;
  }

  .cell.size-1 {
    --size: 1;
  }
  .cell.size-2 {
    --size: 2;
  }
  .cell.size-3 {
    --size: 3;
  }
  .cell.size-4 {
    --size: 4;
  }
  .cell.size-5 {
    --size: 5;
  }
  .cell.size-6 {
    --size: 6;
  }
  .cell.size-7 {
    --size: 7;
  }
  .cell.size-8 {
    --size: 8;
  }
  .cell.size-9 {
    --size: 9;
  }
  .cell.size-10 {
    --size: 10;
  }
  .cell.size-11 {
    --size: 11;
  }
  .cell.size-12 {
    --size: 12;
  }
  .cell.size-13 {
    --size: 13;
  }
  .cell.size-12 {
    --size: 12;
  }
  .cell.size-13 {
    --size: 13;
  }
  .cell.size-14 {
    --size: 14;
  }
  .cell.size-15 {
    --size: 15;
  }
  .cell.size-16 {
    --size: 16;
  }
  .cell.size-17 {
    --size: 17;
  }
  .cell.size-18 {
    --size: 18;
  }
  .cell.size-19 {
    --size: 19;
  }
  .cell.size-20 {
    --size: 20;
  }

  .cell.letter-a {
    background-color: var(--coral);
  }
  .cell.letter-n {
    background-color: var(--fountainBlue);
  }
  .cell.letter-d {
    background-color: var(--purple);
  }
  .cell.letter-r {
    background-color: var(--whiskey);
  }
  .cell.letter-e {
    background-color: var(--malibu);
  }
  .cell.letter-s {
    background-color: var(--green);
  }

  .row:nth-child(1) {
    --delay: 1;
    --offset: 10%;
  }
  .row:nth-child(2) {
    --delay: 2;
    --offset: -100px;
  }
  .row:nth-child(3) {
    --delay: 3;
    --offset: 200px;
  }
  .row:nth-child(4) {
    --delay: 4;
    --offset: -100px;
  }
  .row:nth-child(5) {
    --delay: 5;
    --offset: 200px;
  }
  .row:nth-child(6) {
    --delay: 6;
    --offset: -50px;
  }
  .row:nth-child(7) {
    --delay: 7;
    --offset: 150px;
  }
  .row:nth-child(8) {
    --delay: 8;
    --offset: -100px;
  }
  .row:nth-child(9) {
    --delay: 9;
    --offset: 50px;
  }
  .row:nth-child(10) {
    --delay: 10;
    --offset: -150px;
  }
  .row:nth-child(11) {
    --delay: 11;
    --offset: 150px;
  }
  .row:nth-child(12) {
    --delay: 12;
    --offset: 250px;
  }
  .row:nth-child(13) {
    --delay: 13;
    --offset: -250px;
  }

  @keyframes load-row {
    100% {
      translate: 0;
    }
  }

  .container.slide:not(.duplicate) > .row {
    animation: slide var(--slide-out-time) calc((var(--delay) - 1) * 100ms)
      ease-out both;
  }

  .row:nth-child(2n) {
    --direction: -1;
  }

  @keyframes slide {
    0% {
      translate: 0;
    }

    100% {
      translate: calc(var(--container-width) * var(--direction, 1));
    }
  }

  .container.duplicate {
    position: absolute;
  }

  .container.duplicate .row {
    translate: var(--container-width);
  }

  .container.slide .container.duplicate .row {
    animation: slide var(--slide-in-time)
      calc((var(--delay) - 1) * 100ms - 150ms) ease-in reverse both;
  }

  .container.slide .container.duplicate .row:nth-child(2n-1) {
    --direction: -1;
  }

  .container.slide .container.duplicate .row:nth-child(2n) {
    --direction: 1;
  }

  /* @media (width > 1300px) {
    :root {
      --unit: 9px;
    }
  } */
  @media (width < 1690px) {
    :root {
      --unit: 10px;
    }
  }

  @media (width < 1080px) {
    :root {
      --unit: 5px;
    }
  }
  @media (width < 780px) {
    :root {
      --unit: 4px;
    }
  }
</style>
<script>
  // const container = document.querySelector(".container");
  // const cloneContainer = container.cloneNode(true);
  // cloneContainer.classList.add("duplicate");
  // container.append(cloneContainer);

  // container.addEventListener("click", () => {
  //   container.classList.add("slide", "no-load");
  //   const rows = container.querySelectorAll(".row");

  //   const lastRow = rows[rows.length - 1];
  //   lastRow.addEventListener("animationend", () => {
  //     container.classList.remove("slide");
  //   });
  // });
</script>
