---
import JSIcon from "@/assets/icons/JSIcon.astro";
import HTMLIcon from "@/assets/icons/HTMLIcon.astro";
import CSSIcon from "@/assets/icons/CSSIcon.astro";
import GitHubIcon from "@/assets/icons/GitHubIcon.astro";
import LinkIcon from "@/assets/icons/LinkIcon.astro";
import ReactIcon from "@/assets/icons/ReactIcon.astro";

const { project } = Astro.props;
---

<footer class="flex justify-between absolute bottom-1 w-full px-5 opacity-0">
  <div class="triangle bg-slate-100 z-10 opacity-20 pointer-events-none"></div>
  <a
    href={project.github}
    target="_blank"
    class="size-11 hover:scale-110 hover:drop-shadow-lg absolute duration-200 left-3 bottom-1"
    aria-label=`github ${project.title}`
  >
    <GitHubIcon />
  </a>
</footer>

<style>
  .triangle {
    position: absolute;
    bottom: -15px;
    left: -22px;
    width: 130px;
    height: 110px;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
  }
</style>
