---

---

<div class="bg-slate-100 relative h-[500px] max-h-[40vh] min-h-[200px]">
  <img
    src="/omnifood-desktop.webp"
    alt="omnifood-desktop"
    class="absolute h-full"
  />
  <img
    src="/omnifood-mobile.webp"
    alt="omnifood-mobile"
    class="absolute h-full"
  />
</div>

<style>
  img {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }
</style>

<script></script>
