<div class="simple-card text-[--text-color] transition">
  <div class="simple-card-content">
    <slot />
  </div>
</div>

<style>
  .simple-card-content {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    );
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    z-index: 2;
    padding-block: 1rem;
    padding-inline: 1rem;
  }

  .simple-card {
    /* height: 300px; */
    position: relative;
    background-color: var(--bg-color);
    border: 1px solid theme(colors.neutral.800);
    border-radius: 1.5rem;
    padding: 1rem;
  }

  .simple-card:after {
    content: "";
    height: 40%;
    width: 2px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      theme(colors.neutral.500),
      transparent
    );
    opacity: 0;
  }

  .simple-card:after {
    top: 65%;
    opacity: 0;
  }

  .simple-card:hover:after {
    top: 25%;
    opacity: 1;
  }
</style>
