<div class="simple-card text-slate-300">
  <slot />
</div>

<style>
  .simple-card {
    /* height: 300px; */
    position: relative;
    background-color: theme(colors.slate.900);
    border: 1px solid theme(colors.slate.800);
    border-radius: 1.5rem;
    padding: 1rem;
  }

  .simple-card:after {
    content: "";
    height: 40%;
    width: 2px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
      transparent,
      theme(colors.slate.500),
      transparent
    );
    opacity: 0;
  }

  .simple-card:after {
    top: 65%;
    opacity: 0;
  }

  .simple-card:hover:after {
    top: 25%;
    opacity: 1;
  }
</style>
