---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import EmailIcon from "./icons/EmailIcon.astro";
---

<div class="flex justify-center text-white gap-5 test">
  <a
    href="https://www.linkedin.com/in/andres-lossada22/"
    target="_blank"
    class="size-10 hover:scale-110 transition"
  >
    <LinkedInIcon />
  </a>

  <button
    class="size-10 hover:scale-110 transition"
    id="confetti-button"
    onclick="showToast()"
    data-confetti-button
  >
    <EmailIcon />
  </button>
  <a
    href="https://github.com/dresan22"
    target="_blank"
    class="size-10 hover:scale-110 transition"
    data-tooltip="We are Pennstate!"
  >
    <GitHubIcon />
  </a>
</div>
<style>
  [data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: 0.25em;
  }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"
></script>
<script type="text/javascript">
  const angle = 125;
  var count = 200;
  var defaults = {
    origin: { y: 1, x: 1 },
    colors: ["#e5c07b", "#ef596f", "#61afef", "#2bbac5", "#d55fde", "#89ca78"],
  };

  function fire(particleRatio, opts) {
    confetti({
      ...defaults,
      ...opts,
      particleCount: Math.floor(count * particleRatio),
    });
  }

  function showToast() {
    fire(0.25, {
      spread: 26,
      startVelocity: 55,
      angle: angle,
    });
    fire(0.2, {
      angle: angle,
      spread: 60,
    });
    fire(0.35, {
      angle: angle,
      spread: 100,
      decay: 0.91,
      scalar: 0.8,
    });
    fire(0.1, {
      angle: angle,
      spread: 120,
      startVelocity: 25,
      decay: 0.92,
      scalar: 1.2,
    });
    fire(0.1, {
      spread: 120,
      angle: angle,
      startVelocity: 45,
    });
    Toastify({
      text: "Email copied",
      duration: 2000,
      close: false,
      gravity: "bottom",
      position: "right",
      onClick: navigator.clipboard.writeText("andres.lu22@gmail.com"),
      style: {
        background: "white",
        color: "black",
        borderRadius: "8px",
      },
    }).showToast();
  }
</script>
