---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import EmailIcon from "./icons/EmailIcon.astro";
import "tippy.js/dist/tippy.css";
import "tippy.js/themes/light-border.css";
import "tippy.js/themes/translucent.css";
---

<footer class="flex justify-center text-white gap-5 test">
  <a
    href="https://www.linkedin.com/in/andres-lossada22/"
    target="_blank"
    class="size-10 hover:scale-110 transition tippyGroup"
    id="linkedin"
  >
    <LinkedInIcon />
  </a>
  <button
    class="size-10 hover:scale-110 transition tippyGroup"
    id="email"
    onclick="showToast()"
    data-confetti-button
  >
    <EmailIcon />
  </button>

  <a
    href="https://github.com/dresan22"
    target="_blank"
    class="size-10 hover:scale-110 transition tippyGroup"
    id="github"
  >
    <GitHubIcon />
  </a>
</footer>
<style is:global>
  :root {
    --bg-tooltip: gray;
    --color-border: white;
  }
  .tippy-box[data-theme~="tomato"] {
    background-color: var(--bg-color-0);
    color: white;
    /* padding-inline: 5px;
    padding-block: 4px; */
    border: 0px solid var(--color-border);
    box-shadow: 0px 0px 0px 2px white inset;
  }
  .tippy-box[data-theme~="tomato"][data-placement^="top"]
    > .tippy-arrow::before {
    border-top-color: var(--color-border);
  }
  .tippy-box[data-theme~="tomato"][data-placement^="bottom"]
    > .tippy-arrow::before {
    border-bottom-color: var(--color-border);
  }
  .tippy-box[data-theme~="tomato"][data-placement^="left"]
    > .tippy-arrow::before {
    border-left-color: var(--color-border);
  }
  .tippy-box[data-theme~="tomato"][data-placement^="right"]
    > .tippy-arrow::before {
    border-right-color: var(--color-border);
  }
</style>
<!-- toastify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<!-- tippy -->

<script>
  import tippy, { createSingleton } from "tippy.js";

  const linkedin = document.getElementById("linkedin");
  const email = document.getElementById("email");
  const github = document.getElementById("github");

  const tippy1 = tippy(linkedin, {
    content: "Go to my LinkedIn",
  });

  const tippy2 = tippy(email, {
    content: "Copy Email",
  });

  const tippy3 = tippy(github, {
    content: "Go to my Github",
  });

  createSingleton([tippy1, tippy2, tippy3], {
    offset: [0, 20],
    delay: 300,
    placement: "bottom",
    theme: "tomato",

    moveTransition: "transform 0.2s ease-out",
  });
</script>
<!-- confetti -->
<script
  src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"
></script>
<script type="text/javascript">
  // CONFETTI
  const angle = 125;
  var count = 200;
  var defaults = {
    origin: { y: 1, x: 1 },
    colors: ["#e5c07b", "#ef596f", "#61afef", "#2bbac5", "#d55fde", "#89ca78"],
  };

  function fire(particleRatio, opts) {
    confetti({
      ...defaults,
      ...opts,
      particleCount: Math.floor(count * particleRatio),
    });
  }

  function showToast() {
    fire(0.25, {
      spread: 26,
      startVelocity: 55,
      angle: angle,
    });
    fire(0.2, {
      angle: angle,
      spread: 60,
    });
    fire(0.35, {
      angle: angle,
      spread: 100,
      decay: 0.91,
      scalar: 0.8,
    });
    fire(0.1, {
      angle: angle,
      spread: 120,
      startVelocity: 25,
      decay: 0.92,
      scalar: 1.2,
    });
    fire(0.1, {
      spread: 120,
      angle: angle,
      startVelocity: 45,
    });
    Toastify({
      text: "Email copied",
      duration: 2000,
      close: false,
      gravity: "bottom",
      position: "right",
      onClick: navigator.clipboard.writeText("andres.lu22@gmail.com"),
      style: {
        background: "white",
        color: "black",
        borderRadius: "8px",
      },
    }).showToast();
  }
</script>
