---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import EmailIcon from "./icons/EmailIcon.astro";
---

<div class="flex justify-center text-white gap-5 test">
  <a
    href="https://www.linkedin.com/in/andres-lossada22/"
    target="_blank"
    class="size-10 hover:scale-110 transition"
  >
    <LinkedInIcon />
  </a>

  <button class="size-10 hover:scale-110 transition" onclick="showToast()">
    <EmailIcon />
  </button>
  <a
    href="https://github.com/dresan22"
    target="_blank"
    class="size-10 hover:scale-110 transition"
  >
    <GitHubIcon />
  </a>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script type="text/javascript">
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text);
  }
  function showToast() {
    Toastify({
      text: "Email copied",
      duration: 1500,
      close: false,
      gravity: "bottom",
      position: "right",
      onClick: copyToClipboard("andres.lu22@gmail.com"),
      style: {
        background: "white",
        color: "black",
        borderRadius: "8px",
      },
    }).showToast();
  }
</script>
