---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import EmailIcon from "./icons/EmailIcon.astro";
---

<div class="flex justify-center text-white gap-5 test">
  <a
    href="https://www.linkedin.com/in/andres-lossada22/"
    target="_blank"
    class="size-10"
  >
    <LinkedInIcon />
  </a>

  <button class="size-10">
    <EmailIcon />
  </button>
  <a href="https://github.com/dresan22" target="_blank" class="size-10">
    <GitHubIcon />
  </a>
</div>

<style></style>
