---
import GitHubIcon from "@/assets/icons/GitHubIcon.astro";
import LinkedInIcon from "@/assets/icons/LinkedIn.astro";
import EmailIcon from "@/assets/icons/EmailIcon.astro";
import "tippy.js/dist/tippy.css";
import "tippy.js/themes/light-border.css";
import ResumeIcon from "@/assets/icons/ResumeIcon.astro";
---

<!-- TODO: add a limiter to confetti like "we get it" --><!-- TODO: change icons to be fill instead of outlined -->
<footer class="flex justify-center">
  <nav class="inline-block">
    <ul
      class="flex justify-center text-[--text-color] relative [&>li]:size-8 [&>li]:p-5 [&>li]:transition [&>li]:duration-400 w-full"
    >
      <div
        id="menu-backdrop"
        class="absolute rounded
        translate-x-[var(--left)] translate-y-[var(--top)]
        left-0 top-0
        w-[var(--width)] h-[var(--height)]
         duration-1000
        ease-out opacity-0 -z-[11412421412]
        blur-2xl"
      >
      </div>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <a
          href="https://www.linkedin.com/in/andreslossada"
          target="_blank"
          class=""
          id="linkedin"
          aria-label="linkedin link"
        >
          <LinkedInIcon />
        </a>
      </li>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <button
          class="size-full"
          id="email-icon"
          data-confetti-button
          aria-label="email button"
        >
          <EmailIcon />
        </button>
      </li>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <a
          href="https://github.com/andreslossada"
          target="_blank"
          class=""
          id="github"
          aria-label="github link"
        >
          <GitHubIcon />
        </a>
      </li>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <a
          href="https://andreslossada.dev/AndresCV.docx.pdf"
          target="_blank"
          class=""
          id="cv"
          aria-label="cv link"
        >
          <ResumeIcon />
        </a>
      </li>
    </ul>
  </nav>
</footer>
<style></style>
<script>
  import { fireAll } from "../utils/confetti";
  import { showToast } from "../utils/toaster";
  let clickCounter = 0;
  let maxClicks = 6;
  let resetTime = 5000;
  const emailButton = document.getElementById("email-icon");

  emailButton.addEventListener("click", () => {
    clickCounter++;
    if (clickCounter > maxClicks) {
      fireAll();
      showToast(`chill`);
    } else {
      navigator.clipboard.writeText("andres.lu22@gmail.com");
      fireAll();
      showToast("Email copied");
    }
  });

  setInterval(function () {
    clickCounter = 0;
  }, resetTime);
</script>

<script>
  import colorObj from "@/utils/colors";

  window.addEventListener("DOMContentLoaded", (event) => {
    const listItem = document.querySelectorAll("nav li");
    const menuBackDrop = document.querySelector(
      "#menu-backdrop"
    ) as HTMLElement;

    listItem.forEach((item, index) => {
      item.addEventListener("mouseenter", () => {
        const parentRect = item.parentElement.getBoundingClientRect();
        const itemRect = item.getBoundingClientRect();

        // Calculate the correct position relative to the parent
        const adjustedLeft =
          itemRect.left - parentRect.left + item.parentElement.scrollLeft;
        const adjustedTop =
          itemRect.top - parentRect.top + item.parentElement.scrollTop;

        menuBackDrop.style.setProperty("--left", `${adjustedLeft}px`);
        menuBackDrop.style.setProperty("--top", `${adjustedTop}px`);
        menuBackDrop.style.setProperty("--width", `${itemRect.width}px`);
        menuBackDrop.style.setProperty("--height", `${itemRect.height}px`);

        switch (index) {
          case 0:
            menuBackDrop.style.backgroundColor = colorObj["fourth"];
            break;
          case 1:
            menuBackDrop.style.backgroundColor = colorObj["primary"];
            break;
          case 2:
            menuBackDrop.style.backgroundColor = colorObj["tertiary"];
            break;
          default:
            menuBackDrop.style.backgroundColor = colorObj["secondary"];
        }

        menuBackDrop.style.opacity = "1";
        menuBackDrop.style.visibility = "visible";
      });

      item.addEventListener("mouseleave", () => {
        menuBackDrop.style.opacity = "0";
        menuBackDrop.style.visibility = "hidden";
      });
    });
  });
</script>
