---
import GitHubIcon from "@/assets/icons/GitHubIcon.astro";
import LinkedInIcon from "@/assets/icons/LinkedIn.astro";
import EmailIcon from "@/assets/icons/EmailIcon.astro";
import "tippy.js/dist/tippy.css";
import "tippy.js/themes/light-border.css";
import ResumeIcon from "@/assets/icons/ResumeIcon.astro";
---

<!-- TODO: add a limiter to confetti like "we get it" -->
<footer>
  <nav class="">
    <ul
      class="flex justify-center text-slate-300 relative [&>li]:size-8 [&>li]:p-5 [&>li]:transition [&>li]:duration-400"
    >
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <a
          href="https://www.linkedin.com/in/andreslossada"
          target="_blank"
          class=""
          id="linkedin"
          aria-label="linkedin link"
        >
          <LinkedInIcon />
        </a>
      </li>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <button
          class="size-full"
          id="email-icon"
          data-confetti-button
          aria-label="email button"
        >
          <EmailIcon />
        </button>
      </li>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <a
          href="https://github.com/andreslossada"
          target="_blank"
          class=""
          id="github"
          aria-label="github link"
        >
          <GitHubIcon />
        </a>
      </li>
      <li class="hover:scale-110 hover:text-slate-100 box-content">
        <a
          href="https://andreslossada.dev/AndresCV.docx.pdf"
          target="_blank"
          class=""
          id="cv"
          aria-label="cv link"
        >
          <ResumeIcon />
        </a>
      </li>
    </ul>
    <div
      id="menu-backdrop"
      class={`
        absolute  rounded
        translate-x-[var(--left)] translate-y-[var(--top)]
        left-0 top-0
        w-[var(--width)] h-[var(--height)]
         duration-1000
        ease-out opacity-0 -z-10
        blur-2xl
        `}
    >
    </div>
  </nav>
</footer>
<style is:global>
  .tippy-box[data-theme~="tomato"] {
    background-color: transparent;
    color: white;
    border-top: 2px solid white;
    /* box-shadow: 0px 0px 0px 1px white inset; */
    width: 18ch;
    padding-bottom: 4px;
    text-align: center;
  }
  .tippy-box[data-theme~="tomato"][data-placement^="bottom"]
    > .tippy-arrow::before {
    border-bottom-color: white;
    margin-top: -1px;
  }
</style>
<script>
  import { fireAll } from "../utils/confetti";
  import { showToast } from "../utils/toaster";
  let clickCounter = 0;
  let maxClicks = 6;
  let resetTime = 5000;
  const emailButton = document.getElementById("email-icon");

  emailButton.addEventListener("click", () => {
    clickCounter++;
    if (clickCounter > maxClicks) {
      fireAll();
      showToast(`chill`);
    } else {
      navigator.clipboard.writeText("andres.lu22@gmail.com");
      fireAll();
      showToast("Email copied");
    }
  });

  setInterval(function () {
    clickCounter = 0;
  }, resetTime);
</script>

<script>
  import colorObj from "@/utils/colors";

  window.addEventListener("DOMContentLoaded", (event) => {
    const listItem = document.querySelectorAll("nav li");
    const menuBackDrop = document.querySelector(
      "#menu-backdrop"
    ) as HTMLElement;

    // Delay setting the initial position to allow the browser to restore scroll position
    setTimeout(() => {
      const firstItem = listItem[0] as HTMLElement;
      const { left, top } = firstItem.getBoundingClientRect();
      const scrollLeft =
        window.pageXOffset || document.documentElement.scrollLeft;
      const scrollTop =
        window.pageYOffset || document.documentElement.scrollTop;

      // Temporarily disable transition
      menuBackDrop.style.transition = "none";

      menuBackDrop.style.setProperty("--left", `${left + scrollLeft}px`);
      menuBackDrop.style.setProperty("--top", `${top + scrollTop}px`);

      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";

      // Re-enable transition after a short delay
      setTimeout(() => {
        menuBackDrop.style.transition = "";
      }, 50);
    }, 100);

    listItem.forEach((item, index) => {
      item.addEventListener("mouseenter", () => {
        const { left, top, width, height } = item.getBoundingClientRect();
        const scrollLeft =
          window.pageXOffset || document.documentElement.scrollLeft;
        const scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;

        menuBackDrop.style.setProperty("--left", `${left + scrollLeft + 15}px`);
        menuBackDrop.style.setProperty("--top", `${top + scrollTop + 15}px`);
        menuBackDrop.style.setProperty("--width", `${width - 30}px`);
        menuBackDrop.style.setProperty("--height", `${height - 30}px`);
        switch (index) {
          case 0:
            menuBackDrop.style.backgroundColor = colorObj["secondary"];
            break;
          case 1:
            menuBackDrop.style.backgroundColor = colorObj["primary"];
            break;
          case 2:
            menuBackDrop.style.backgroundColor = colorObj["tertiary"];
            break;
          default:
            menuBackDrop.style.backgroundColor = "fourth";
        }

        menuBackDrop.style.opacity = "1";
        menuBackDrop.style.visibility = "visible";
      });

      item.addEventListener("mouseleave", () => {
        menuBackDrop.style.opacity = "0";
        menuBackDrop.style.visibility = "hidden";
      });
    });

    window.addEventListener("DOMContentLoaded", (event) => {
      const listItem = document.querySelectorAll("nav li");

      listItem.forEach((item) => {
        item.classList.add("transition");
      });
    });
  });
</script>
