---
const { text, class: className } = Astro.props;
---

<div
  class=`title grid place-content-center text-[--text-color] font-semibold  ${className} drop-shadow-lg text-4xl md:text-5xl transition`
>
  <h2 class="">{text}</h2>
</div>

<style>
  h2 {
    /* background-color: #00000094; */
  }
</style>
