---
const { text } = Astro.props;
---

<div
  class="title grid place-content-center text-white font-bold drop-shadow-[0px_0px_20px_#00000094] font-sans"
>
  <h2 class="">{text}</h2>
</div>

<style>
  h2 {
    font-size: 40px;
    text-shadow: rgba(21, 21, 21, 0.256) 0px 0px 20px;
    /* background-color: #00000094; */
  }
</style>
