---
import SimpleCard from "@/components/SimpleCard.astro";
import Divider from "../components/Divider.astro";
import Title from "../components/Title.astro";
---

<!-- TODO: fix divider -->
<div
  class="py-[200px] bg-dark bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.25),rgba(255,255,255,0))] relative middle z-50"
>
  <Divider />

  <div
    class="absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:44px_44px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)] -top-[var(--h-divider) -z-10"
  >
  </div>
  <div class="mt-20">
    <Title text="02.Experience" />
  </div>

  <ul class="mt-20">
    <li style="--accent-color:var(--color-5)">
      <div class="date">2024</div>
      <SimpleCard>
        <div class="title">Scale AI</div>
        <div class="subtitle">AI Trainer</div>

        <div class="descr">
          Proficiently reviewed and enhanced JavaScript code to ensure
          functionality, efficiency, and adherence to coding best practices.
          Maintained an up-to-date knowledge of the latest coding best practices
          and industry standards, cultivating a deep understanding of evolving
          technologies to improve project outcomes. Collaborated closely with
          team members to uphold code quality and consistency across projects.
        </div>
        <footer>Skills: TypeScript · JavaScript</footer>
      </SimpleCard>
    </li>
    <li style="--accent-color:var(--color-2)">
      <div class="date">2022</div>
      <SimpleCard>
        <div class="title">Cloudnonic Corp.</div>
        <div class="subtitle">Fullstack Developer</div>

        <div class="descr">
          Developed and maintained code for in-house and client websites.
          Including a financial application designed to streamline bank
          documentation processes, enhance efficiency, and elevate user
          experience. Writing and maintaining clean, efficient, and
          well-documented code in accordance with best practices. Additionally,
          entails the creation of reusable and modular components that can be
          applied across various sections of the application. Colaborating with
          colleagues of diverse cultures to ensure code quality.
        </div>
        <footer>
          Skills: TypeScript · Material-UI · formik · React.js · JavaScript ·
          Redux.js
        </footer>
      </SimpleCard>
    </li>
    <li style="--accent-color:var(--color-3)">
      <div class="date">2021</div>
      <SimpleCard>
        <div class="title">Foodwize</div>
        <div class="subtitle">Frontend Developer</div>

        <div class="descr">
          Tasked with developing and debugging ReactJS-based web applications,
          including the creation of new reusable UI components and
          functionalities such as custom hooks. Works within an agile
          development environment using the SCRUM methodology.
        </div>
        <footer>Skills: HTML5 · React.js · JavaScript</footer>
      </SimpleCard>
    </li>
    <li style="--accent-color:var(--color-4)">
      <div class="date">2018</div>
      <SimpleCard>
        <div class="title">Hack Academy</div>
        <div class="subtitle">Web Development</div>

        <div class="descr">
          Attended Hack Academy, a dynamic and immersive learning environment
          specializing in cutting-edge technology education. Successfully
          completed a comprehensive web development program, gaining proficiency
          in HTML, CSS, JavaScript, and other essential tools. Acquired hands-on
          experience in designing and implementing responsive and interactive
          web applications. The rigorous curriculum at Hack Academy fostered a
          strong foundation in coding principles, problem-solving, and
          collaborative development.
        </div>
        <footer>Skills: HTML · JavaScript · CSS</footer>
      </SimpleCard>
    </li>
    <li style="--accent-color:var(--color-1)">
      <div class="date">2017</div>
      <SimpleCard>
        <div class="title">Nueva Esparta University</div>
        <div class="subtitle">Assistant Software Engineer</div>

        <div class="descr">
          Assisted staff responsible for the management and upkeep of servers,
          as well as database administration. Developed and maintained various
          modules within the academic system. Provided support to students and
          administrative staff regarding the university platform.
        </div>
        <footer>Skills: PHP · pgAdmin · PostgreSQL</footer>
      </SimpleCard>
    </li>
  </ul>
</div>
<div class="wrapper">
  <div
    class="divider bg-gradient-to-r from-dark via-slate-300 to-dark h-[calc(var(--angle-divider)+5px)] -mt-[calc(var(--angle-divider)+3px)]"
  >
  </div>
</div>

<!-- <Divider /> -->

<style>
  .divider {
    clip-path: polygon(
      0 0,

      50% var(--angle-divider),
      100% 0,

      100% calc(100% - var(--angle-divider)),
      50% 100%,

      0 calc(100% - var(--angle-divider))
    );
  }
  .wrapper {
    filter: drop-shadow(-0px -5px 5px rgba(0, 0, 0, 0.7));
  }
  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"); */
  @keyframes slide-in {
    100% {
      transform: translateX(0%);
      opacity: 1;
      scale: 1;
    }
  }

  ul li:nth-child(odd) {
    transform: translateX(-100%);
  }
  ul li:nth-child(even) {
    transform: translateX(100%);
  }

  h1 {
    text-align: center;
  }

  ul {
    --bgColor: theme(colors.slate.500);
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }

  /* line */
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: theme(colors.slate.400);
    border-radius: calc(var(--line-w) / 2);
  }

  /* columns*/

  /* row gaps */
  ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }

  /* card */
  ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    opacity: 0;
    scale: 0.7;
    animation: slide-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 20%;
  }

  /* date */
  ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: transparent;

    color: theme(colors.slate.300);
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }

  /* date flap */
  ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }

  /* circle */
  ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  ul li .title {
    overflow: hidden;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }

  /* shadows */

  ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: theme(colors.slate.600);
    left: 50%;
    border-radius: 50%;
    /* filter: blur(4px); */
    transform: translate(-50%, 70%);
  }

  ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }

  @media (min-width: 40rem) {
    ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    ul::before {
      grid-column: 2;
    }
    ul li:nth-child(odd) {
      grid-column: 1;
    }
    ul li:nth-child(even) {
      grid-column: 3;
    }

    /* start second card */
    ul li:nth-child(2) {
      grid-row: 2/4;
    }

    ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }

    ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    ul li:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
  }
</style>
