---
import "app/globals.css";
interface Props {
  title: string;
}
const { title } = Astro.props;

import Settings from "../components/Settings.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Web Development - Andres Lossada - Fullstack"
    />
    <meta
      property="og:title"
      content="Web Development - Andres Lossada - Fullstack"
    />
    <meta
      property="og:description"
      content="Fullstack web development services and portfolio of Andres Lossada."
    />
    <meta property="og:image" content="https://andreslossada.dev/meta.avif" />
    <meta property="og:url" content="https://andreslossada.dev" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-900">
    <slot />
    <Settings />
  </body>
  <style is:global>
    /* grainEffect.css */

    :root {
      /* Background Colors */
      /* --bg-color-0: #0a0d1e; */
      /* --cell-color: #282c34; */
      /* --cell-color: #344078; */

      /* Dimensions */
      --angle-divider: 100px;
      --h-divider: 22px;

      /* Keyword */
      --primary-color: #f92672;
      --primary-color-light: #f8649a;
      --primary-color-dark: #640f2e;
      --primary-color-darker: #38091a;

      /* Title Function */
      --secondary-color: #61aeee;
      --secondary-color-darker: #4378a3;

      /* String */
      --tertiary-color: #98c379;
      --tertiary-color-darker: #698f1e;

      /* Variable */
      --fourth-color: #e6c07b;
      --fourth-class-color: #d19a66;

      /* Literal */
      --literal-color: #56b6c2;
    }

    /* Legacy Colors (Commented Out)
--letter-a: #f92672;
--letter-n: #a6e22e;
--letter-d: #66d9ef;
--letter-r: #fd971f;
--letter-e: #ae81ff;
--letter-e: #d6d6d6;
--letter-s: #e1d74d;
--gray: #5e5e5e;
--gray: rgb(227, 227, 227);
--color-1: #ff6188;
--color-2: #e87d3e;
--color-3: #ffd866;
--color-4: #a9dc76;
--color-5: #ab9df2;
--color-6: #78dce8;
*/
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    * {
      margin: 0;
      padding: 0;
      font: inherit;
    }

    html {
      /* font-family: "Fira Code", system-ui; */
    }

    body {
      position: relative;
      overflow-x: hidden;

      /* --sb-track-color: rgba(45, 65, 74, 0.1);
      --sb-thumb-color: #334651; */
      /* --sb-size: 10px; */
      /* scrollbar-color: var(--sb-thumb-color) var(--sb-track-color); */
    }
    body::-webkit-scrollbar {
      /* width: var(--sb-size); */
    }

    body::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      /* border-radius: 10px; */
    }

    body::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      /* border-radius: 10px; */
    }
  </style>
</html>
