---
import "app/globals.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Web Development - Andres Lossada - Fullstack"
    />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO: add favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <!-- <div c lass="drop-shadow-3xl relative"> -->
    <slot />
    <!-- </div> -->
  </body>
  <style is:global>
    :root {
      /* Dark One Pro Darker Colors */
      --chalky: #e5c07b;
      --coral: #ef596f;
      --dark: #5c6370;
      --error: #f44747;
      --fountainBlue: #2bbac5;
      --green: #89ca78;
      --white: #ffffff;
      --LightDark: #7f848e;
      --lightWhite: #abb2bf;
      --malibu: #61afef;
      --purple: #d55fde;
      --whiskey: #d19a66;
      --deepRed: #be5046;
      --bg-color-0: #24262e;
      --bg-color-1: #222537;
      --bg-color-2: #1f243e;
      --bg-color-3: #0a0d1d;
      --angle-divider: 100px;
      --h-divider: -100px;
      /* atom one dark */
      /* keyword */
      --color-1: #c678dd;
      /* title function */
      --color-2: #61aeee;
      /* string */
      --color-3: #98c379;
      /* variable */
      --color-4: #e6c07b;
      /* title class */
      --color-5: #d19a66;
      /* literal */
      --color-6: #56b6c2;
    }
    /*
      --letter-a: #f92672;
      --letter-n: #a6e22e;
      --letter-d: #66d9ef;
      --letter-r: #fd971f;
      --letter-e: #ae81ff; 
      --letter-e: #d6d6d6;
      --letter-s: #e1d74d; 
      --gray: #5e5e5e; 
      --gray: rgb(227, 227, 227);
      --color-1: #ff6188;
      --color-2: #e87d3e;
      --color-3: #ffd866;
      --color-4: #a9dc76;
      --color-5: #ab9df2;
      --color-6: #78dce8;
    */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    * {
      margin: 0;
      padding: 0;
      font: inherit;
    }

    html {
      font-family: system-ui;
      /* -webkit-overflow-scrolling: auto; */
    }

    body {
      position: relative;

      /* --sb-track-color: rgba(45, 65, 74, 0.1);
      --sb-thumb-color: #334651; */
      /* --sb-size: 10px; */
      /* scrollbar-color: var(--sb-thumb-color) var(--sb-track-color); */
    }
    body::-webkit-scrollbar {
      /* width: var(--sb-size); */
    }

    body::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      /* border-radius: 10px; */
    }

    body::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      /* border-radius: 10px; */
    }

    .top {
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--angle-divider)),
        50% 100%,
        0 calc(100% - var(--angle-divider))
      );
      box-shadow: 10px 5px 5px red;
    }

    .bottom {
      clip-path: polygon(
        0 0,
        50% var(--angle-divider),
        100% 0,
        100% 100%,
        0 100%
      );
      /* causes glitch with bento hover */
      margin-top: var(--h-divider);
    }

    .middle {
      clip-path: polygon(
        0 0,
        50% var(--angle-divider),
        100% 0,
        100% calc(100% - var(--angle-divider)),
        50% 100%,
        0 calc(100% - var(--angle-divider))
      );
      margin-top: var(--h-divider);
    }

    body {
      /* background-image: url("/bg-code.webp");
      background-attachment: fixed;
      background-size: contain; */
    }
  </style>
</html>
